body {
  padding: 50px;
}
.nav-tabs .nav-link{
  background-color: #016FC6;
  color: #ffffff;
}
.bg-danger {
  background-color: #016FC6!important;
}
thead{
  font-size: 0.7em;
}
tbody{
  font-size: 0.7em;
}
.nav-item .nav-link{
  font-size: 0.7em;
}
.barra{
  font-size: 1.5em;
}

.nav-pills .nav-link{
    color: #016FC6!important
}
.nav-pills .nav-link.active,
.show>.nav-pills .nav-link{
  color: #fff!important;
  background: #016FC6!important;
    
}
#fondo {
  background-color:rgba(177, 173, 173, 0.541);
}

.bg-mine{
  color: black;
  background-color:rgba(177, 173, 173, 0);
}
label, h6, th{
    text-transform: capitalize;
}
th{
  text-align: center;
}