extends navbar

block content
    .container
      .card.rounded.border-secondary
        h5.card-header.text-capitalize.bg-danger.text-white
          | Administraci&oacuten de Proyectos
        .card-body
          .row
            .col-sm-4
                img(src="/images/img.png", alt="bienvenida")
            .col-sm-8
              .table-responsive
                table.table.table-bordered.table-hover
                  thead.thead-light.text-capitalize
                    tr
                      th 
                      th T&iacutetulo De Proyecto 
                      th Fecha de Registro
                      th Editar
                      th Previsualizar
              br
              a.btn.btn-primary.btn-lg.btn-block(href="/nuevoProyecto" role="button") Crear Proyecto