extends navbar

block content
    .container
      .card.rounded.border-secondary
        h5.card-header.text-capitalize.bg-danger.text-white
          | Administraci&oacuten de Proyectos
        .card-body
          .row
            .col-sm-4
                img(src="/images/img.png", alt="bienvenida")
            .col-sm-8
              .table-responsive
                table.table.table-bordered.table-hover
                  thead.thead-light.text-capitalize
                    tr
                      th T&iacutetulo De Proyecto 
                      th Fecha de Registro
                      th Editar
                      th Previsualizar
                    each valor in lista
                      tr
                        td #{valor.titulo}
                        td #{valor.fecha_creacion}
                        td: a.btn.btn-primary.btn-sm(href="/nuevo-proyecto" role="button") Editar
                        td: a.btn.btn-primary.btn-sm(href="/visualizar" role="button") Visualizar
              br
              a.btn.btn-primary.btn-lg.btn-block(href="/nuevo-proyecto" role="button") Crear Proyecto