extends navbar

block content
    
    .container
        form(action="/validation/change-password" method="post")
            div.card.mx-auto.rounded.border-secondary(style="max-width:500px;")
                h5.card-header.text-capitalize.bg-danger.text-white
                    | Cambiar Contrase単a
                .card-body
                    .form-group
                        label.h6(for='user') Contrase単a Anterior 
                            span.text-danger  (*)
                        input#titulo.form-control(type='textarea' name="user" required)
                    .form-group
                        label.h6(for='passwd') Nueva Contrase単a
                            span.text-danger  (*)
                        input#palabrasClave.form-control(type='password' name="passwd" required)
                    .form-group
                        label.h6(for='passwd') Repetir Contrase単a
                            span.text-danger  (*)
                        input#palabrasClave.form-control(type='password' name="passwd" required)
                input.btn.btn-primary(type="submit")
