extends navbar

block content
  .container
    form(action="", method="post")
      .card.rounded.border-secondary
        h5.card-header.text-capitalize.bg-danger.text-white
          | Actualizaci&oacuten de Datos
        .card-body
          .row
            .col-sm-6
              .form-group
                label.h6(for='tipoDocumento') Tipo Documento
                  span.text-danger  (*)
                input#tipoDocumento.form-control(type='text' name="tipoDocumento" required)
            .col-sm-6
              .form-group
                label.h6(for='documentoIdentidad') Documento de Identidad
                  span.text-danger  (*)
                input#documentoIdentidad.form-control(type='text' name="documentoIdentidad" required)
          .row
            .col-sm-6.col-md-3
              .form-group
                label.h6(for='nombres') Nombres
                  span.text-danger  (*)
                input#nombres.form-control(type='text' name="nombres" required)
            .col-sm-6.col-md-3
              .form-group
                label.h6(for='apellidoPaterno') Apellido Paterno
                  span.text-danger  (*)
                input#apellidoPaterno.form-control(type='text' name="apellidoPaterno" required)
            .col-sm-6.col-md-3
              .form-group
                label.h6(for='apellidoMaterno') Apellido Materno
                  span.text-danger  (*)
                input#apellidoMaterno.form-control(type='text' name="apellidoMaterno" required)
            .col-sm-6.col-md-3
              .form-group
                label.h6(for='genero') G&eacutenero
                  span.text-danger  (*)
                input#genero.form-control(type='text' name="genero" required)
          .row
            .col-sm-6.col-md-3
              .form-group
                label.h6(for='pais') Pa&iacutes
                  span.text-danger  (*)
                input#pais.form-control(type='text' name="pais" required)
            .col-sm-6.col-md-3
              .form-group
                label.h6(for='departamento') Departamento
                  span.text-danger  (*)
                input#departamento.form-control(type='text' name="departamento" required)
            .col-sm-6.col-md-3
              .form-group
                label.h6(for='provincia') Provincia
                  span.text-danger  (*)
                input#provincia.form-control(type='text' name="provincia" required)
            .col-sm-6.col-md-3
              .form-group
                label.h6(for='distrito') Distrito
                  span.text-danger  (*)
                input#distrito.form-control(type='text' name="distrito" required)
          .row
            .col
              .form-group
                label.h6(for='direccion') Direcci&oacuten
                  span.text-danger  (*)
                input#direccion.form-control(type='text' name="direccion" required)
          .row
            .col-sm-6.col-md-4
              .form-group
                label.h6(for='fechaNacimiento') Fecha de Nacimiento
                  span.text-danger  (*)
                input#fechaNacimiento.form-control(type='date' name="fechaNacimiento" required)
            .col-sm-6.col-md-4
              .form-group
                label.h6(for='telefonoMovil') Tel&eacutefono M&oacutevil
                  span.text-danger  (*)
                input#telefonoMovil.form-control(type='number' name="telefonoMovil" required)
            .col-sm-6.col-md-4
              .form-group
                label.h6(for='telefonoFijo') Tel&eacutefono  Fijo
                  span.text-danger  (*)
                input#telefonoFijo.form-control(type='number' name="telefonoFijo" required)
          .row
            .col-sm-6.col-md-4
              .form-group
                label.h6(for='email') Correo Electr&oacutenico
                  span.text-danger  (*)
                input#email.form-control(type='email' name="email" required)
            .col-sm-6.col-md-4
              .form-group
                label.h6(for='email2') Correo Electr&oacutenico Alternativo
                  span.text-danger  (*)
                input#email2.form-control(type='email' name="email2" required)
            .col-sm-6.col-md-4
              .form-group
                label.h6(for='investigador') Investigador
                  span.text-danger  (*)
                br
                .custom-control.custom-radio.custom-control-inline                
                  input#investigadorsi.custom-control-input(type='radio' name="investigador" value="SI")
                  label.custom-control-label(for="investigadorsi") SI
                .custom-control.custom-radio.custom-control-inline
                  input#investigadorno.custom-control-input(type='radio' name="investigador" value="NO" checked)
                  label.custom-control-label(for="investigadorno") NO
      .card.rounded.border-secondary
        h5.card-header.text-capitalize.bg-danger.text-white
          | Datos de Acceso
        .card-body
          .row
            .col-sm-4
              .form-group
                label.h6(for='usuario') Usuario
                input#usuario.form-control(type='text' name="usuario" disabled)
            .col-sm-4
              .form-group
                label.h6(for='clave') Contrase&ntildea
                  span.text-danger  (*)
                input#clave.form-control(type='password' name="clave" required)
            .col-sm-4
              .form-group
                label.h6(for='confirmarClave') Confirmar Contrase&ntildea
                  span.text-danger  (*)
                input#confirmarClave.form-control(type='password' name="confirmarClave" required)
          .row
            .col-sm-1.offset-sm-9
              input.btn.btn-danger.float-right(type="submit", value="Guardar")
            .col-sm-1.offset-sm-1
              a.btn.btn-danger.float-right(href="/form" role="button") Cancelar