extends navbar

block content
    .container
      .card.rounded.border-secondary
        h5.card-header.text-capitalize.bg-danger.text-white
          | Bienvenido
        .card-body
          .row
            .col-sm-4
                img(src="/images/img.png", alt="bienvenida")
            .col-sm-8
                br
                br
                a.btn.btn-primary.btn-lg.btn-block(href="/form" role="button") Mis proyectos
                a.btn.btn-primary.btn-lg.btn-block(href="/change-password" role="button") Cambio De Clave
                a.btn.btn-primary.btn-lg.btn-block(href="/change-data" role="button") Actualizar Datos
                // a.btn.btn-primary.btn-lg.btn-block(href="/" role="button") Cancelar
                // a.btn.btn-primary.btn-lg.btn-block(href="/" role="button") Cancelar