body {
  padding: 50px;
}
a {
  color: #ffffff;
}
.nav-tabs .nav-link{
  background-color: #C9304C;
}
.bg-danger {
  background-color: #C9304C!important;
}
thead{
  font-size: 0.7em;
}
tbody{
  font-size: 0.7em;
}
.nav-item .nav-link{
  font-size: 0.8em;
}